.brand-name {
    font-weight: bold;
    font-style:normal;
    font-family: 'Nosifer', cursive;
    font-size: 4em;
  }
body {
    margin: 0 auto;
    padding-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat (6,1fr);
    gap: 20px;
    padding: 0 40px;
    grid-template-areas: ". content content content content ."
}
.content {
    grid-area: content;
    width: 100%;
}

.dark-header {
    background-color: white;
    -webkit-animation: anirain 5s linear infinite alternate;
    text-align: center;
}

@keyframes anirain {
    0% {color; #ff8b00;}
    10% {color: #e8ff00;}
    20% {color: #5dff00}
    30% {color: #00ff2e;}
    40% {color: #00ffb9;}
    50% {color: #00b9ff;}
    60% {color: #002eff;}
    70% {color: #5d00ff;}
    80% {color: #e800ff;}
    90% {color: #ff008b;}
    100% {color: #ff000f;}  
}
    
.brand-row {
    display: flex; 
    justify-content: center;
    align-items: center;
    position:sticky;
}

.topnav {
    background-color: #6012c8;
    overflow: hidden;
    display: flex; 
    justify-content: center;
    align-items: center;
    position:sticky;
}

.topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif; 
} 

.topnav a:hover {
    background-color: deeppink;
    color: blueviolet;
}

/*The Welcome to Art for Mental Health page*/

.first-box {
    margin: 20px 5px;
    padding: 0;
    height: 50vh;
    text-align: center;
    justify-content: center;
}

.container-box{
   margin:10px
}

.container-header-text-image {
   width:100%;
   display:flex;
   justify-content: center;
   flex-direction: wrap;
}

.card-02 {
    background:white;
    position:relative;
    flex:1;
    max-width: 900px;
    height: 85px;
    margin: 10px;   
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 3em;
    padding-bottom: 10px;
}

/*The About Us page*/

.second-box {
    margin: 20px 40px;
    padding: 0;
    height: 50vh;
    text-align: center;
}

.container-box-02{
   margin:10px
   background: #480d96;
}

.container-description-image {
   width:100%;
   background: #480d96;
   display:flex;
   justify-content: center;
   flex-direction: wrap;
   grid-area: content;
}

.card-03 {
    position:relative;
    flex:1;
    max-width: 900px;
    height: 85px;
    margin: 10px;   
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

.description {
    font-family: 'Poppins',sans-serif;
    font-size: 2.5em;
    padding-bottom: 1px;
}

.description .btn {
    display: inline-block;
    margin-top: auto;
    background: #480d96;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 2rem;:
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    letter-spacing:0.1rem;
}

.description .btn:hover , 
.description .btn:active
{ background-color:rgb(135, 119, 179)
}

/*instructions for the user*/

.third-box {
    margin: 20px 40px;
    padding: 0;
    height: 50vh;
    text-align: center;
}

.container-box-04{
   margin:10px
}

.container-description-image04 {
   width:100%;
   display:flex;
   background: #480d96;
   justify-content: center;
   flex-direction: wrap;
   grid-area: content;
}

.card-04 {
    position:relative;
    flex:1;
    max-width: 900px;
    height: 85px;
    margin: 10px;   
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

.instructions {
    font-family: 'Poppins',sans-serif;
    font-size: 2.75em;
    padding-bottom: 1px;
}

.instructions .btn {
    display: inline-block;
    margin-top: auto;
    background: #480d96;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 2rem;:
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    letter-spacing:0.1rem;
}

.instructions .btn:hover , 
.instructions .btn:active
{ background-color:rgb(135, 119, 179)
}

/*Meet the Developers and Designer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.container {
    padding: 0;
    background-color: #f1e8ff;
    font-family: 'Poppins', sans-serif;  
    margin:20px 40px;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.heading {
    font-size: 60px;
    color:#0f172a
}

.heading span {
    font-style:italic;
    font-size:45px;    
}

.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
   
}

.profile {
    width:25%;
    display:block;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 15px 20px;
    align-items:center;
    flex-wrap:wrap;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.img-container {
    width:75%;
    height: 260px;
    margin:0 auto;
    border-radius: 50%;
    object-fit: fill;
}

.profile-img {
    width: 75%;
    height: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
    object-fit: fill;
}

.profile:hover .profile-img 
{
    filter: grayscale(0);
}

.user-name {
    margin-top:30px;
    font-size: 20px;
}

.profile h4 {
    font-size: 18px;
    font-weight:bold;
    letter-spacing:3px;
    color: #475569;    
}

.profile h5 {
    font-size: 18px;
    font-weight:bold;
    letter-spacing:3px;
    color: #475569; 
    margin: 10px 0;   
}

.profile p {
    font-size: 18px;
    font-weight:100;
    letter-spacing:1px;
    color: #475569;
    margin-bottom:2rem;
    text-align: left;
    display:flex;
    letter-spacing: 1px;
    line-height:1.5;
    justify-content: space-between;
}

.profile .btn {
    display: inline-block;
    margin-top: auto;
    background: rgb(41, 41, 160);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 2rem;:
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing:0.1rem;
}

.profile .btn:hover , 
.profile .btn:active
{ background-color:rgb(35, 21, 73)
}

.footer-row {
    background-color: #fbeaf4;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #0f172a;
    text-align: center;
}
